*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --colorblack: black;
    --colorwhite: white;
    --colorgray: gray;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 45vw;
    background-color: rgb(196, 146, 154);
    border: 6px solid black;
}
#card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    max-width: 100vw;
    font-size: clamp(8px, 1rem, 2em);
    background-color: var(--colorblack);
    margin: 20px 10px;
} 
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
img {
    width: 200px;
    object-fit: cover;
    border: 4px solid beige;
    margin: 10px;
}
a {
    display: flex;
    flex-direction: column;
    color: beige;
    text-decoration: none;
    font-size: larger;
}
a:hover {
    background-color:  rgb(209, 174, 179);
}
#home {
    margin: 20px;
    font-size: xx-large;
}
#home:hover {
    background-color:  rgb(209, 174, 179);
    color: black;
}
h1 {
    color: beige;
}
#nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@media screen and (max-width:600px) { 
   .container, #card, .about, #nav{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
   } 
}
@media screen and (min-width:601px) and (max-width:900px) { 
   .container, #card, .about, #nav{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
   } 
}